.project {
    padding: 40px;
    text-align: center;
}

.project__screenshot {
    display: block;
    margin: 0 auto 20px;
}

.project__title {
    margin: 20px 0;
    line-height: 1em;
}

.project__description {
    margin: 20px auto 0px;
    line-height: 1.6em;
    font-size: 18px;
    width: 80%;
}

.project__stack {
    color: #b3b3b3;
    font-style: italic;
    margin: 20px 0px 40px 0px;
}

.project__link {
    text-decoration: none;
    padding: 2px 20px 7px 20px;
    border: 2px #000 solid;
    border-radius: 2px;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    transition: all .5s ease;
}

.project__link:hover {
    background-color: #000;
    color: #fff;
    transition: all .5s ease;
}

@media screen and (max-width: 768px) {
    .project__title {
        font-size: 24px;
    }
    .project__description {
        font-size: 20px;
    }
    .project__stack {
        font-size: 18px;
    }
    .project__link {
        font-size: 20px;
    }
    
    .project__description {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .project {
        padding: 20px;
    }
    .project__screenshot {
        max-width: 100%;
    }
}